.loader {
    font-size: 5rem;
    animation: spin 1000ms linear infinite;
    color: rgba(173, 0, 189, 0.411);
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
